/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Apr-2022, 2:39:21 pm
    Author     : HP
*/

  * {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 50%;
  padding: 10px;
  background-image:url(s.jpg);
  color: white;
  font-size: 27px;
  border: 2px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}


/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
pn{
    background-image: url(a.jpg);
}
div.m{
    background-color: gold;
      border-image: url(sb.png) 30%round;
      
       padding: 15px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

table {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    border-collapse: collapse;
    background: grey;
    color: black;
}
th, td { 
    font-weight: bold;
}


@keyframes example {
  from {background-color: pink;}
  to {background-color: blue;}
}
div.k{
     width: 100px;
  height: 100px;
  background-color: blueviolet;
  animation-name: example;
  animation-duration: 4s;
}
h1{
   transition-duration: 10s; 
}
div.pm{
    background-color: pink;
    
  transition: width 2s, height 4s;
  transition-timing-function: ease-in;
}
div.kc{
    background-color: #9999ff;
}